<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-load-direction-heading">Create or edit a Load Direction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_loadDirectionEnum">Load Direction Enum</label>
                    <select class="form-control" name="loadDirectionEnum" formControlName="loadDirectionEnum" id="field_loadDirectionEnum">
                        <option value="LONGITUDINAL">LONGITUDINAL</option>
                        <option value="TRANSVERSE">TRANSVERSE</option>
                    </select>
                    <div *ngIf="editForm.get('loadDirectionEnum').invalid && (editForm.get('loadDirectionEnum').dirty || editForm.get('loadDirectionEnum').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('loadDirectionEnum').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_loads">Load</label>
                    <select class="form-control" id="field_loads" multiple name="loads" formControlName="loads">
                        <option [ngValue]="getSelected(editForm.get('loads').value, loadOption)" *ngFor="let loadOption of loads; trackBy: trackLoadById">{{loadOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
