<div>
    <h2 id="page-heading">
        <span>Load Shears</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-load-shear" [routerLink]="['/load-shear/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Load Shear
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="loadShears?.length === 0">
        <span>No loadShears found</span>
    </div>
    <div class="table-responsive" *ngIf="loadShears?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Load Shear Enum</span></th>
            <th><span>Load</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let loadShear of loadShears ;trackBy: trackId">
                <td><a [routerLink]="['/load-shear', loadShear.id, 'view' ]">{{loadShear.id}}</a></td>
                <td>{{loadShear.loadShearEnum}}</td>
                <td>
                    <span *ngFor="let load of loadShear.loads; let last = last">
                            <a class="form-control-static" [routerLink]="['/load', load?.id, 'view' ]">{{load.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/load-shear', loadShear.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/load-shear', loadShear.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/load-shear', { outlets: { popup: loadShear.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
