<div>
    <h2 id="page-heading">
        <span>Verbs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-verb" [routerLink]="['/verb/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Verb
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="verbs?.length === 0">
        <span>No verbs found</span>
    </div>
    <div class="table-responsive" *ngIf="verbs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Calculations</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let verb of verbs ;trackBy: trackId">
                <td><a [routerLink]="['/verb', verb.id, 'view' ]">{{verb.id}}</a></td>
                <td>{{verb.name}}</td>
                <td>
                    <div *ngIf="verb.calculations">
                        <a [routerLink]="['/calculation', verb.calculations?.id, 'view' ]" >{{verb.calculations?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/verb', verb.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/verb', verb.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/verb', { outlets: { popup: verb.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
