<div>
    <h2 id="page-heading">
        <span>Environmental Effects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-environmental-effect" [routerLink]="['/environmental-effect/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Environmental Effect
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="environmentalEffects?.length === 0">
        <span>No environmentalEffects found</span>
    </div>
    <div class="table-responsive" *ngIf="environmentalEffects?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Calculations</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let environmentalEffect of environmentalEffects ;trackBy: trackId">
                <td><a [routerLink]="['/environmental-effect', environmentalEffect.id, 'view' ]">{{environmentalEffect.id}}</a></td>
                <td>{{environmentalEffect.name}}</td>
                <td>
                    <span *ngFor="let calculations of environmentalEffect.calculations; let last = last">
                            <a class="form-control-static" [routerLink]="['/calculation', calculations?.id, 'view' ]">{{calculations.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/environmental-effect', environmentalEffect.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/environmental-effect', environmentalEffect.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/environmental-effect', { outlets: { popup: environmentalEffect.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
